<form name='myForm' class="form-horizontal" role='form' ng-controller="controllerForm" ng-submit="submit()">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                            
                <label>Genre</label>
                            
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary" ng-class="{ 'active' : radioModel1 == 'Homme'}">
                            <input type="radio" ng-model="radioModel1" name="q1" value="Homme"> Homme
                        </label>
                        <label class="btn btn-primary" ng-class="{ 'active' : radioModel1 == 'Femme'}">
                                <input type="radio" ng-model="radioModel1" name="q1" value="Femme"> Femme
                        </label>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': nom}">
                        <label for="nom">Nom</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                                <input  title="ce champ est obligatoire"  class="form-control"
                                    ng-model="nom" id="nom" name="nom" placeholder="Nom"
                                    ng-pattern='/[a-zA-Z]{3,}/' type="text" pattern='[A-Za-z]{3,}'
                                >
                        </div>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': prenom}">
                        <label for="prenom">Prénom</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input  title="ce champ est obligatoire"  class="form-control"
                                ng-model="prenom" id="prenom" name="prenom" placeholder="prénom"
                                ng-pattern='/[a-zA-Z]{3,}/' type="text" pattern='[A-Za-z]{3,}'
                            >
                        </div>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': mail}">
                        <label for="mail">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                 <input  title="ce champ est obligatoire"  class="form-control"
                                        ng-model="mail" id="mail" name="mail" placeholder="email"
                                         type="text"
                                    >
                            </div>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': naissance}">
                        <label for="mail">Date de Naissance</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input  title="ce champ est obligatoire"  class="form-control"
                                    ng-model="naissance" id="naissance" name="naissance" placeholder="Date de naissance"
                                    type="date"
                                >
                            </div>
                    </div>
                <pre>{{ radioModel2 || 'null' }}</pre>
                    <label>Classe</label>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary" ng-class="{ 'active' : radioModel2 == '{{item.libelle}}' }" ng-repeat="item in classes">
                            <input type="radio" ng-model="radioModel2" value="{{item.libelle}}" name='q2'> {{item.libelle}}
                        </label>
                    </div>
                            
                    <label>Ville de départ</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-up"></span></span>
                        <select ng-options="item for item in villes" ng-model="choixVillesD" class="form-control" name="choixV">
                            <option value="">Choisissez une ville de départ</option>
                        </select>
                    </div>
                            
                    <label>Ville d'arrivée</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-up"></span></span>
                        <select ng-options="item for item in villes" ng-model="choixVillesA" class="form-control" name="choixV">
                            <option value="">Choisissez une ville d'arrivée</option>
                        </select>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': nationalite}">
                        <label for="nom">Nationalité</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-flag"></span>
                            </span>
                            <input type="text" placeholder="Nationalité" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
                        </div>
                    </div>
                            
                    <div class="form-group has-feedback" ng-class="{ 'has-success': vol}">
                        <label for="nom">Vol</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-plane"></span>
                            </span>
                            <input  title="ce champ est obligatoire"  class="form-control"
                                    ng-model="vol" id="nom" name="vol" placeholder="Numéro de vol"
                                     type="text" 
                                    >
                        </div>
                    </div>
                    
                <input type="submit" class="btn btn-info" value="Valider">
            </div>
        </div>
    </div>
</form>