<!DOCTYPE html>
<html ng-app='App'>
    <head>
        <title>Formulaire</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/angular.js" type="text/javascript"></script>
        <script src="../js/angular-sanitize.js" type="text/javascript"></script>
        <script src="../data/users-100.js" type="text/javascript"></script>
        <script src="../data/data_extra.js" type="text/javascript"></script>
        <script src="../js/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>
        
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        
        <script>
            app = angular.module("App",['ngSanitize']);
        </script>
        <script src="../js/services/Passenger.js" type="text/javascript"></script>
        <script src="../js/controllers/controller.js" type="text/javascript"></script>
        
    </head>
    
    
    <body>
        <div> 
            <form name='myForm' class="form-horizontal" role='form' ng-controller="controllerForm">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            
                            <label>Genre</label>
                            
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-primary" ng-class="{ 'active' : radioModel1 == 'Homme'}">
                                    <input type="radio" ng-model="radioModel1" name="q1" value="Homme"> Homme
                                </label>
                                <label class="btn btn-primary" ng-class="{ 'active' : radioModel1 == 'Femme'}">
                                    <input type="radio" ng-model="radioModel1" name="q1" value="Femme"> Femme
                                </label>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': nom}">
                                <label for="nom">Nom</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="nom" id="nom" name="nom" placeholder="Nom"
                                            ng-pattern='/[a-zA-Z]{3,}/' type="text" pattern='[A-Za-z]{3,}'
                                            >
                                </div>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': prenom}">
                                <label for="prenom">Prénom</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="prenom" id="prenom" name="prenom" placeholder="prénom"
                                            ng-pattern='/[a-zA-Z]{3,}/' type="text" pattern='[A-Za-z]{3,}'
                                            >
                                </div>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': mail}">
                                <label for="mail">Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="mail" id="mail" name="mail" placeholder="email"
                                            ng-pattern='/[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]+/' type="text" pattern='/[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]+/'
                                            >
                                </div>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': naissance}">
                                <label for="mail">Date de Naissance</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="naissance" id="naissance" name="naissance" placeholder="Date de naissance"
                                            ng-pattern='/[0-3][0-9]\/[0-1][0-9]\/[0-2][0-9]{3}/' type="date" pattern='/[0-3][0-9]\/[0-1][0-9]\/[0-2][0-9]{3}/'
                                            >
                                </div>
                            </div>
                            
                            <label>Classe</label>
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-success" ng-class="{ 'active' : radioModel1 == '{{item.libelle}}'}" ng-repeat="item in classes">
                                        <input type="radio" ng-model="radioModel1" name="q1" value="{{item.libelle}}"> {{item.libelle}}
                                    </label>
                                </div>
                            
                            <label>Ville de départ</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-up"></span></span>
                                <select ng-options="item for item in villes" ng-model="choixVillesD" class="form-control" name="choixV">
                                    <option value="">Choisissez une ville de départ</option>
                                </select>
                            </div>
                            
                            <label>Ville d'arrivée</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-up"></span></span>
                                <select ng-options="item for item in villes" ng-model="choixVillesA" class="form-control" name="choixV">
                                    <option value="">Choisissez une ville d'arrivée</option>
                                </select>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': nationalite}">
                                <label for="nom">Nationalité</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-flag"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="nationalite" id="nom" name="nationalite" placeholder="Nationalité"
                                            >
                                </div>
                            </div>
                            
                            <div class="form-group has-feedback" ng-class="{ 'has-success': vol}">
                                <label for="nom">Vol</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-plane"></span>
                                    </span>
                                    <input  title="ce champ est obligatoire"  class="form-control"
                                            ng-model="vol" id="nom" name="vol" placeholder="Numéro de vol"
                                            ng-pattern='/^[A-Z]{2}[0-9]{2,4}$/' type="text" pattern='/^[A-Z]{2}[0-9]{2,4}$/'
                                            >
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
