<div ng-controller="controllerA">
    <h1>Listes des passagers</h1>
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th data-sort="genre">Genre</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nationalité</th>
                <th>Date de Naissance</th>
                <th>Age</th>
                <th><button type="button" class="btn btn-warning"><a href="#!/add" style="color: white">Add</a> <span class="glyphicon glyphicon-plus-sign"></span> </button></th>
            </tr>
        
            <tr ng-repeat="item in list | offset : 0 track by $index">
                <td> {{item.id}} </td> 
                <td> {{ item.genre == "male" ? "M." : "Mme"}}</td>
                <td> {{item .prenom}}</td>
                <td> {{item.nom}}</td>
                <td>{{item.nationalite}}</td>
                <td>{{item.date_naissance}}</td>
                <td>{{item.getAge()}}</td>
                <td><span class="glyphicon glyphicon-share"></span> <span class="glyphicon glyphicon-trash"></span> <span class="glyphicon glyphicon-edit"></span></td>
            </tr>
        </table>
</div>
